{% extends "nav.html" %}

{% block title %}
Cart
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/css/cart.css">

<div class="container">
    <div class="cart" id="cart">
        <div class="cart-header cart-table-row">
            <div class="check-box">
                <input type="checkbox" name="select-all" id="select-all" class="select-checkbox">
            </div>
            <div class="product-detail">
                <h1 class="column-header">Product</h1>
            </div>
            <div class="price-per-item">
                <h1 class="column-header">Price Per Item</h1>
            </div>
            <div class="amount-header">
                <h1 class="column-header">Amount</h1>
            </div>
            <div class="conclude">
                <h1 class="column-header">Conclude</h1>
            </div>
        </div>

        <!-- <div class="cart-group">
            <div class="shop-header">
                <div class="check-box">
                    <input type="checkbox" name="select-shop" id="select-shop" class="select-checkbox">
                </div>
                <h2 class="shop-name">ToodDum Shop</h2>
            </div>
            <div class="product-in-cart cart-table-row">
                <div class="check-box">
                    <input type="checkbox" name="select-product" class="select-checkbox">
                </div>
                <div class="product-detail">
                    <div class="product-img-wrapper">
                        <img src="/static/image/t-shirt.png" alt="product-image">
                    </div>
                    <div class="product-desc">
                        <h1 class="product-name">Product Name</h1>
                        <div class="category-group">
                            <span class="category">V-shirt</span>
                            <span class="category">Short</span>
                            <span class="category">Street Fasion</span>
                            <span class="category">Oversized</span>
                        </div>
                        <div class="net-zero-check">
                            <input type="checkbox" name="net-zero" class="net-zero">
                            <label for="net-zero" class="net-zero-label">Net-Zero</label>
                        </div>
                    </div>
                </div>
                <div class="price-per-item">
                    <h3 class="price">
                        <span>300-450</span> THB
                    </h3>
                </div>
                <div class="amount">
                    <div class="amount-per-size">
                        <span class="size">XS</span>
                        <div class="amount-group">
                            <button type="button" class="amount-btn minus-btn">-</button>
                            <input type="number" name="xs-amount" id="xs-amount" class="amount-number-input" value="1">
                            <button type="button" class="amount-btn plus-btn">+</button>
                        </div>
                    </div>
                    <div class="amount-per-size">
                        <span class="size">S</span>
                        <div class="amount-group">
                            <button type="button" class="amount-btn minus-btn">-</button>
                            <input type="number" name="xs-amount" id="s-amount" class="amount-number-input" value="1">
                            <button type="button" class="amount-btn plus-btn">+</button>
                        </div>
                    </div>
                    <div class="amount-per-size">
                        <span class="size">M</span>
                        <div class="amount-group">
                            <button type="button" class="amount-btn minus-btn">-</button>
                            <input type="number" name="m-amount" id="s-amount" class="amount-number-input" value="1">
                            <button type="button" class="amount-btn plus-btn">+</button>
                        </div>
                    </div>
                </div>
                <div class="conclude">
                    <h5 class="total-product"><span>100</span> Item</h5>
                    <h5 class="total-price"><span>4,250</span> THB</h5>
                </div>
            </div>
        </div> -->
        
    </div>
    <div class="footer">
        <div class="sum-item" id="sum-item">Total <span>0</span> items</div>
        <div class="sum-price" id="sum-price"><span>0</span> THB</div>
        <div class="order-btn" id="order-btn"><button>Order</button></div>
    </div>
</div>

<script src="/static/js/cart.js"></script>
{% endblock %}