<!DOCTYPE html>
<html>

<head>
    <title>Receipt Page</title>
    <link rel="stylesheet" href="/static/css/receipt.css">
</head>

<body>
    <div class="receipt">
        <!-- Receipt Header -->
        <div class="header">
            Thank you.
        </div>
        <div class="semi-header">
            Hi Username
        </div>
        <div class="semisub-header">
            Thank you for Order from us!
        </div>
        <div class="order-id">
            Order Id : CL-105687
        </div>
        <div class="order-id">
            Order date : 10/08/2023
        </div>
        <!-- Receipt Header -->

        <div class="order-info">
            <!-- Sub Header -->
            <div class="order-head">
                <div class="text-orderhead">
                    <p class="Description">Description:</p>
                    <p class="Price">Price:</p>
                </div>
            </div>
            <!-- Sub Header -->
            
            <div class="product-container" id="product-container">
                <!-- items -->

                <!-- items -->

                <!-- footer -->
                <div class="footer">
                    
                </div>
                <!-- footer -->
 
            </div>

        </div>

        <script src="/static/js/receipt.js"></script>
</body>

</html>